<?xml version="1.0"?><!--
/**
 * @category  SchumacherFM
 * @package   SchumacherFM_FastIndexer
 * @copyright Copyright (c) http://www.schumacher.fm
 * @license   see LICENSE.md file
 * @author    Cyrill at Schumacher dot fm @SchumacherFM
 */
-->
<config>
    <modules>
        <SchumacherFM_FastIndexer>
            <version>1.0.1</version>
        </SchumacherFM_FastIndexer>
    </modules>
    <global>
        <catalog>
            <category>
                <url_rewrite>
                    <!--@see Mage_Catalog_Model_Factory; requires Magento CE >= 1.8-->
                    <helper>schumacherfm_fastindexer/category_url_rewrite</helper>
                </url_rewrite>
            </category>
            <!--removed as this is not necessary for products, but maybe in later version of mage -->
            <!--<product>-->
            <!--<url_rewrite>-->
            <!--&lt;!&ndash;@see Mage_Catalog_Model_Factory; requires Magento CE >= 1.8&ndash;&gt;-->
            <!--<helper>schumacherfm_fastindexer/product_url_rewrite</helper>-->
            <!--</url_rewrite>-->
            <!--</product>-->
        </catalog>
        <blocks>
            <schumacherfm_fastindexer>
                <class>SchumacherFM_FastIndexer_Block</class>
            </schumacherfm_fastindexer>
            <index>
                <rewrite>
                    <adminhtml_notifications>SchumacherFM_FastIndexer_Block_Adminhtml_Index_Notifications</adminhtml_notifications>
                </rewrite>
            </index>
        </blocks>
        <models>
            <schumacherfm_fastindexer>
                <class>SchumacherFM_FastIndexer_Model</class>
                <resourceModel>schumacherfm_fastindexer_resource</resourceModel>
            </schumacherfm_fastindexer>
            <schumacherfm_fastindexer_resource>
                <class>SchumacherFM_FastIndexer_Model_Resource</class>
                <entities>
                    <lock>
                        <table>fastindexer_lock</table>
                    </lock>
                </entities>
            </schumacherfm_fastindexer_resource>
            <index>
                <rewrite>
                    <process>SchumacherFM_FastIndexer_Model_Index_Process</process>
                </rewrite>
            </index>
            <catalog>
                <rewrite>
                    <url>SchumacherFM_FastIndexer_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <url>SchumacherFM_FastIndexer_Model_Resource_Catalog_Url</url>
                    <!--@see observer::rewriteCatalogResourceCategoryFlat() where the dyn rewrite happens-->
                    <!--<category_flat>SchumacherFM_FastIndexer_Model_Resource_Catalog_Category_Flat</category_flat>-->
                    <category_flat_collection>SchumacherFM_FastIndexer_Model_Resource_Catalog_Category_Flat_Collection</category_flat_collection>
                </rewrite>
            </catalog_resource>
        </models>

        <resources>
            <schumacherfm_fastindexer_setup>
                <setup>
                    <module>SchumacherFM_FastIndexer</module>
                    <class>SchumacherFM_FastIndexer_Model_Resource_Setup</class>
                </setup>
            </schumacherfm_fastindexer_setup>
        </resources>

        <helpers>
            <schumacherfm_fastindexer>
                <class>SchumacherFM_FastIndexer_Helper</class>
            </schumacherfm_fastindexer>
        </helpers>

        <events>
            <controller_front_init_before>
                <observers>
                    <schumacherfm_fastindexer>
                        <class>schumacherfm_fastindexer/observer</class>
                        <method>rewriteCatalogResourceCategoryFlat</method>
                    </schumacherfm_fastindexer>
                </observers>
            </controller_front_init_before>

            <phpunit_suite_start_after>
                <observers>
                    <schumacherfm_fastindexer_store_notifier>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/mock_store</class>
                        <method>notifyHelperThatStoresHasBeenLoaded</method>
                    </schumacherfm_fastindexer_store_notifier>
                </observers>
            </phpunit_suite_start_after>

            <resource_get_tablename>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>reMapTable</method>
                    </schumacherfm_fastindexer>
                </observers>
            </resource_get_tablename>

            <fastindexer_before_reindex_process_catalog_product_attribute>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_product_attribute>
            <after_reindex_process_catalog_product_attribute>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_product_attribute>

            <fastindexer_before_reindex_process_catalog_product_price>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_product_price>

            <fastindexer_before_reindex_process_catalog_url>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_url>
            <after_reindex_process_catalog_url>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_url>

            <fastindexer_before_reindex_process_catalog_product_flat>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_product_flat>
            <after_reindex_process_catalog_product_flat>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_product_flat>

            <fastindexer_before_reindex_process_catalog_category_flat>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_category_flat>
            <after_reindex_process_catalog_category_flat>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_category_flat>

            <fastindexer_before_reindex_process_catalog_category_product>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalog_category_product>
            <after_reindex_process_catalog_category_product>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalog_category_product>

            <fastindexer_before_reindex_process_catalogsearch_fulltext>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalogsearch_fulltext>
            <after_reindex_process_catalogsearch_fulltext>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalogsearch_fulltext>

            <fastindexer_before_reindex_process_cataloginventory_stock>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_cataloginventory_stock>
            <after_reindex_process_cataloginventory_stock>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_cataloginventory_stock>

            <fastindexer_before_reindex_process_catalogpermissions>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalogpermissions>
            <after_reindex_process_catalogpermissions>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalogpermissions>

            <fastindexer_before_reindex_process_targetrule>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_targetrule>
            <after_reindex_process_targetrule>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_targetrule>

            <fastindexer_before_reindex_process_tag_summary>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_tag_summary>
            <after_reindex_process_tag_summary>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_tag_summary>

            <fastindexer_before_reindex_process_catalogpermissions>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_catalogpermissions>
            <after_reindex_process_catalogpermissions>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_catalogpermissions>

            <fastindexer_before_reindex_process_targetrule>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableCreator</class>
                        <method>initIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </fastindexer_before_reindex_process_targetrule>
            <after_reindex_process_targetrule>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTables</method>
                    </schumacherfm_fastindexer>
                </observers>
            </after_reindex_process_targetrule>
        </events>

        <!--In etc/local.xml change the resources/default_setup/connection/type to pdo_mysql_findexer-->
        <!--If you are using catalog_write and core_read additional there you also have to change-->
        <!--the type to pdo_mysql_findexer.-->
        <!-- Also add this to the local.xml
        <resource>
            <connection>
                <types>
                    <pdo_mysql_findexer>
                        <adapter>SchumacherFM_FastIndexer_Model_Db_Adapter_Pdo_Mysql</adapter>
                        <class>SchumacherFM_FastIndexer_Model_Resource_Type_Db_Pdo_Mysql</class>
                        <compatibleMode>1</compatibleMode>
                    </pdo_mysql_findexer>
                </types>
            </connection>
        </resource>
        -->
    </global>
    <default>
        <fastindexer>
            <general>
                <is_active>0</is_active>
                <optimizeTables>0</optimizeTables>
                <dropOldTable>1</dropOldTable>
                <urlRewriteCopyCustom>0</urlRewriteCopyCustom>
            </general>
            <indexer>
                <lock_threshold>1800</lock_threshold>
            </indexer>
            <url_indexer>
                <urlRewriteCopyCustom>0</urlRewriteCopyCustom>
                <exclude_disabled_products>0</exclude_disabled_products>
                <exclude_not_visible_products>0</exclude_not_visible_products>
                <exclude_disabled_categories>0</exclude_disabled_categories>
                <exclude_category_path_in_product_url>0</exclude_category_path_in_product_url>
                <optimize_url_rewrite_flat_category>0</optimize_url_rewrite_flat_category>
                <disable_all_categories_in_url_rewrite>0</disable_all_categories_in_url_rewrite>
            </url_indexer>
        </fastindexer>
    </default>
    <phpunit>
        <suite>
            <modules>
                <SchumacherFM_FastIndexer/>
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <schumacherfm_fastindexer before="Mage_Adminhtml">SchumacherFM_FastIndexer_Adminhtml</schumacherfm_fastindexer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_process_reindexProcess>
                <observers>
                    <schumacherfm_fastindexer>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/tableRollback</class>
                        <method>rollbackIndexTablesAdminhtml</method>
                    </schumacherfm_fastindexer>
                </observers>
            </controller_action_postdispatch_adminhtml_process_reindexProcess>
            <adminhtml_block_html_before>
                <observers>
                    <schumacherfm_fastindexer_ma>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/observer</class>
                        <method>updateIndexerGrid</method>
                    </schumacherfm_fastindexer_ma>
                </observers>
            </adminhtml_block_html_before>
            <process_collection_load_before>
                <observers>
                    <schumacherfm_fastindexer_ma>
                        <type>singleton</type>
                        <class>schumacherfm_fastindexer/observer</class>
                        <method>addEventCount</method>
                    </schumacherfm_fastindexer_ma>
                </observers>
            </process_collection_load_before>
        </events>
    </adminhtml>
</config>
