<?xml version="1.0"?><!--
 /**
 * @category  SchumacherFM
 * @package   SchumacherFM_FastIndexer
 * @copyright Copyright (c) http://www.schumacher.fm
 * @license   private!
 * @author    Cyrill at Schumacher dot fm @SchumacherFM
 */
-->
<config>
    <sections>
        <system>
            <groups>
                <fastindexer translate="label">
                    <label>FastIndexer [SchumacherFM Module]</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable FastIndexer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <dropOldTable translate="label,comment">
                            <label>Drop Old Tables</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Only disable for development or testing.</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </dropOldTable>

                        <dbName1 translate="label">
                            <label>Shadow Database Name 1</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>schumacherfm_fastindexer/adminhtml_system_config_database</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </dbName1>
                        <dbName2 translate="label,comment">
                            <label>Shadow Database Name 2</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>schumacherfm_fastindexer/adminhtml_system_config_database</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Name must be different from Shadow Database 1.</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </dbName2>
                        <correctSetup translate="label">
                            <label>Verifying Installation of PDO class</label>
                            <frontend_model>schumacherfm_fastindexer/adminhtml_system_config_setup</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </correctSetup>

                        <urlRewriteCopySystemRP translate="label,comment">
                            <label>URL Rewrites; copy old redirect permanents</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enable this option if you wish also to copy the URLs generated via
                                the option "Create Permanent Redirect for old URL" when editing a product.
                                Be careful: due to a bug in Magento ~<=1.7 this can fill your rewrite table with
                                a lot of unused URLs. If you enable this option reindexing will be slowed down.
                                Your custom created redirect URLs are not affected by this option.
                                ]]></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </urlRewriteCopySystemRP>

                    </fields>
                </fastindexer>
            </groups>
        </system>
    </sections>
</config>
